.dockerignore
.editorconfig
.env.local
.env.development.local
.env.production.local
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc
AUTHORS
CHANGELOG
CONTRIBUTING
Dockerfile
LICENCE
README.md
SECURITY
svgo.config.cjs
package-lock.json
.vscode
.git
dist
build
node_modules
