.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: fixed;
  top: 25px;
  right: 25px;
  // bottom: 25px;
  width: 360px;
  border-radius: 10px;
  padding: 15px;
  @include box(dark, light);
  box-shadow: 0 2px 5px 0 transparentize($color: colorize(dark), $amount: 0.2);
  z-index: 101;
  overflow: hidden;
  overflow-y: auto;
}

.background {
  position: fixed;
  inset: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparentize($color: colorize(light), $amount: 0.5);
  z-index: 100;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 48px;
  font-weight: 700;
  @include text(info);
  margin-block: 0 10px;

  svg {
    cursor: pointer;
  }
}
.extension {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  @include box(dark, info);
  @include border($color: info);
  transition: all ease 0.3s;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  margin-block: 25px 0;

  &:hover {
    background-color: transparentize($color: colorize(info), $amount: 0.85);
  }

  span {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
  }
}
